/* Reset some default styles */   
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.4;
    color: #333;
    background-color: #f2f9f9;
}

/* Header */
header {
    background-color: skyblue;
    color: black;
    text-align: center;
    padding: 0.3rem 0;
}

header h1 {
    margin-bottom: 0.05rem;
    font-size: 2.2rem;
}

header p {
    font-size: 1.1rem;
}

/* Main Content */
main {
    padding: 1.5rem;
}

h2 {
    color: black;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 0.1rem 0 0.4rem 0;
}

p {
    margin: 0.1rem 0 0.8rem 0;
    font-size: 1rem;
    line-height: 1.6;
}

/* Footer */
footer {
    background-color: skyblue;
    color: black;
    text-align: center;
    padding: 0.8rem;
    margin-top: 1.5rem;
}

.go_back_bt {
    text-align: center;
    margin: 1.5rem 0;
}

.go_back_bt a {
    background-color: #77ab6f;
    color: #fff;
    padding: 0.4rem 0.8rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.go_back_bt a:hover {
    background-color:  #a5677b;
}

/* Centered Resume Container */
#resume-container, #pdf-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1.5rem 0;
}

#resume-container object, #pdf-container object {
    width: 100%;
    max-width: 100%;
    height: 550px;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
